/fz-idle-chat.iml
/fz-idle-chat-prducer/fz-idle-chat-prducer.iml
/fz-idle-chat-consumer/fz-idle-chat-consumer.iml
/fz-idle-chat-common/fz-idle-chat-common.iml
/fz-idle-chat-consumer/target/
/fz-idle-chat-common/target/
/fz-idle-chat-prducer/target/
