<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fz.idle.chat.msg.mapper.ClientMapper">
    <select id="login" parameterType="fz.idle.chat.param.LogParam" resultType="fz.idle.chat.msg.vo.ClientAllVo">
        SELECT
          client_id clientId,
          account,
          nick_name nickName,
          gender
        FROM
          `client`
        WHERE account = '${param.account}'
          AND `password` = '${param.password}'
    </select>
    <insert id="saveClient" parameterType="fz.idle.chat.param.ClientAllParam" >
        INSERT INTO `message`.`client` (
          `client_id`,
          `account`,
          `nick_name`,
          `gender`,
          `password`
        )
        VALUES
          (
            '${param.clientId}',
            '${param.account}',
            '${param.nickName}',
            '${param.gender}',
            '${param.password}'
          )
    </insert>
</mapper>