<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fz.idle.chat.msg.mapper.ClientMapper">
    <select id="login" parameterType="fz.idle.chat.param.LogParam" resultType="fz.idle.chat.msg.vo.ClientAllVo">
        SELECT
          client_id clientId,
          account,
          nick_name nickName,
          gender
        FROM
          `client`
        WHERE account = '${param.account}'
          AND `password` = '${param.password}'
    </select>
    <select id="clientByCid" parameterType="java.lang.String" resultType="fz.idle.chat.msg.vo.ClientAllVo">
        SELECT
          client_id clientId,
          account,
          nick_name nickName,
          gender
        FROM
          `client`
        WHERE client_id = '${param}'
    </select>
    <insert id="saveClient" parameterType="fz.idle.chat.param.ClientAllParam">
        INSERT INTO `message`.`client` (
          `client_id`,
          `account`,
          `nick_name`,
          `gender`,
          `password`
        )
        VALUES
          (
            '${param.clientId}',
            '${param.account}',
            '${param.nickName}',
            '${param.gender}',
            '${param.password}'
          )
    </insert>
    <insert id="addFriend" parameterType="fz.idle.chat.param.AddFriendParam">
        INSERT INTO `message`.`friend` (`client_id`, `friend_id`)
        VALUES
          ('${param.clientId}', '${param.friendId}')
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT @@IDENTITY
        </selectKey>
    </insert>
    <select id="findFriend" parameterType="java.lang.String" resultType="fz.idle.chat.msg.vo.ClientAllVo">
        SELECT
          `client_id` clientId,
          `account`,
          `nick_name` nickName,
          `gender`
        FROM
          `message`.`client`
          WHERE account = '${param}'
    </select>

    <update id="accept" parameterType="java.lang.String">
        UPDATE
          `message`.`friend`
        SET
          `status` = 1
        WHERE `friend_id` = '${param}'
    </update>
    <delete id="delete" parameterType="fz.idle.chat.param.AddFriendParam">
       DELETE
        FROM
          `message`.`friend`
        WHERE client_id = '${param.clientId}'
          AND friend_id = '${param.friendId}'
    </delete>
    <delete id="delete1" parameterType="fz.idle.chat.param.AddFriendParam">
       DELETE
        FROM
          `message`.`friend`
        WHERE client_id = '${param.friendId}'
          AND friend_id = '${param.clientId}'
    </delete>
    <delete id="deleteMsg" parameterType="fz.idle.chat.param.AddFriendParam">
       DELETE
        a,b
      FROM
        detail a,
        message b
      WHERE b.message_id = a.msg_id
        AND b.client_id = '${param.clientId}'
        AND b.friend_id = '${param.friendId}'
    </delete>
    <delete id="deleteMsg1" parameterType="fz.idle.chat.param.AddFriendParam">
       DELETE
        a,b
      FROM
        detail a,
        message b
      WHERE b.message_id = a.msg_id
        AND b.client_id = '${param.friendId}'
        AND b.friend_id = '${param.clientId}'
    </delete>
</mapper>