<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<mapper namespace="fz.idle.chat.dao.MessageMapper">
    <select id="findMessage" parameterType="java.lang.String" timeout="20" resultType="fz.idle.chat.Do.UserInfoDo">
        select * from client where client_id = #{clientId};
    </select>
</mapper>